@charset "UTF-8";
/* CSS Document */

/* === Remove input autofocus webkit === 
*/ *:focus { outline: none; } 
/* === Form Typography === */ 
/* === List Styles ===  */
.contact_form ul { 
width: 750px; list-style-type: none; list-style-position: outside; margin: 0px; padding: 0px; 
} 
.contact_form li { 
padding: 12px; border-bottom: 1px solid #eee; position: relative; 
} 
.contact_form li:first-child, .contact_form li:last-child { 
border-bottom: 1px solid #777; 
} 
/* === Form Header === */
.contact_form h2 { 
margin: 0; display: inline; 
} 
.required_notification { 
color: #d45252; margin: 5px 0 0 0; display: inline; float:left; 
} 
/* === Form Elements ===  */
contact_form label { 
width: 300px; margin-top: 0px; display: inline-block; float:left; padding: 3px; 
} 
.contact_form input { 
height: 30px; padding: 1px 2px; 
}
.contact_form select { 
height: 25px; padding: 1px 2px; width:120px;
}
.contact_form textarea { 
padding: 8px; width: 300px; resize:none;
} 
.contact_form button {
	margin-left:10px;
 } 
/* form element visual styles */ 
.contact_form input, .contact_form textarea{ 
border: 1px solid #aaa; 
box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset; 
border-radius: 2px; 
padding-right: 30px; 
-moz-transition: padding .25s; 
-webkit-transition: padding .25s; 
-o-transition: padding .25s; 
transition: padding .25s; 
} 
.select-style {
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    width: 170px;
    border-radius: 3px;
    overflow: hidden;
    background-color: #fff;
    background: #fff url("../vimages/arrowdown.gif") no-repeat 90% 50%;
}

.select-style select {
    padding: 5px 8px;
    width: 100%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

.select-style select:focus {
    outline: none;
	box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
}
.contact_form input:focus, .contact_form textarea:focus { 
background: #fff; 
border: 1px solid #555; 
box-shadow: 0 0 3px #aaa; 
padding-right: 70px; } 
/* === HTML5 validation styles === */ 
.contact_form input:required, .contact_form textarea:required { 
background: #fff url("../vimages/red_asterisk.png") no-repeat 98% center;
 } 
 .contact_form input:required:valid, .contact_form textarea:required:valid { 
 background: #fff url("../vimages/valid.png") no-repeat 98% center; 
 box-shadow: 0 0 5px #5cd053; 
 border-color: #28921f; 
 } 
.contact_form input:focus:invalid, .contact_form textarea:focus:invalid { 
background: #fff url("../vimages/invalid.png") no-repeat 98% center; 
box-shadow: 0 0 5px #d45252; 
border-color: #b03535; 
} 
/* === Form hints === */ 
.form_hint { 
background: #d45252; 
border-radius: 3px 3px 3px 3px; 
color: white; 
margin-left: 8px; 
padding: 1px 6px; 
z-index: 999; 
position: absolute;  
display: none; } 
.form_hint::before { 
content: "\25C0"; 
color: #d45252; 
position: absolute; 
top: 1px; 
left: -6px; 
}
.contact_form input:focus + .form_hint { 
display: inline; } 
.contact_form input:required:valid + .form_hint { 
background: #28921f; } 
.contact_form input:required:valid + .form_hint::before { 
color: #28921f; 
}
/* === Button Style === */ 
button.submit { 
 background-color: #68b12f; background: -webkit-gradient(linear, left top, left bottom, from(#68b12f), to(#50911e)); background: -webkit-linear-gradient(top, #68b12f, #50911e); background: -moz-linear-gradient(top, #68b12f, #50911e); background: -ms-linear-gradient(top, #68b12f, #50911e); background: -o-linear-gradient(top, #68b12f, #50911e); background: linear-gradient(top, #68b12f, #50911e); border: 1px solid #509111; border-bottom: 1px solid #5b992b; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; box-shadow: inset 0 1px 0 0 #9fd574; -webkit-box-shadow: 0 1px 0 0 #9fd574 inset; -moz-box-shadow: 0 1px 0 0 #9fd574 inset; -ms-box-shadow: 0 1px 0 0 #9fd574 inset; -o-box-shadow: 0 1px 0 0 #9fd574 inset; color: white; font-weight: bold; padding: 6px 20px; text-align: center; text-shadow: 0 -1px 0 #396715; 
} 
button.submit:hover { 
opacity: .85; 
cursor: pointer; } 

button.submit:active { 
border: 1px solid #20911e; 
box-shadow: 0 0 10px 5px #356b0b inset; 
-webkit-box-shadow: 0 0 10px 5px #356b0b inset; 
-moz-box-shadow: 0 0 10px 5px #356b0b inset; 
-ms-box-shadow: 0 0 10px 5px #356b0b inset; 
-o-box-shadow: 0 0 10px 5px #356b0b inset; 
}

button.reset { 
background-color: #000000; 
background: -webkit-gradient(linear, left top, left bottom, from(#68b12f), to(#50911e)); 
background: -webkit-linear-gradient(top, #68b12f, #50911e); 
background: -moz-linear-gradient(top, #68b12f, #50911e); 
background: -ms-linear-gradient(top, #68b12f, #50911e); 
background: -o-linear-gradient(top, #68b12f, #50911e); 
background: linear-gradient(top, #68b12f, #50911e); 
border: 1px solid #509111; 
border-bottom: 1px solid #5b992b; 
border-radius: 3px; 
-webkit-border-radius: 3px; 
-moz-border-radius: 3px; 
-ms-border-radius: 3px; 
-o-border-radius: 3px; 
box-shadow: inset 0 1px 0 0 #9fd574; 
-webkit-box-shadow: 0 1px 0 0 #9fd574 inset; 
-moz-box-shadow: 0 1px 0 0 #9fd574 inset; 
-ms-box-shadow: 0 1px 0 0 #9fd574 inset; 
-o-box-shadow: 0 1px 0 0 #9fd574 inset; 
color: white; 
font-weight: bold; 
padding: 6px 20px; 
text-align:left; 
text-shadow: 0 -1px 0 #396715;
} 

.tablez {
    /*border-collapse: collapse;*/
	vertical-align:central;
	border: 1px solid #428BCB;
	width: 500px;
}
.tablesec {
    /*border-collapse: collapse;*/
	border: 0px solid black;
	margin-left: 10px;
	width:400px;
}
.tbbot {
    /*border-collapse: collapse;*/
	border: 0px solid black;
	width:400px;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size:12px;
}
.thz {
    border: 1px solid black;
}

.tdrig {
	border: 0px solid black;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size:12px;
	font-size-adjust:inherit;
	align-content:flex-start;
	vertical-align:middle;	
	height: 25px;
	width:250px;
}
.tdtext {
	border: 0px solid black;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size:12px;
	font-size-adjust:inherit;
	align-content:flex-start;
	vertical-align:middle;	
	height: 25px;
	width:200px;
}
.tdchk {
	border: 0px solid black;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size:12px;
	font-size-adjust:inherit;
	align-content:flex-start;
	vertical-align:middle;	
	height: 25px;
	width:200px;
}

.tdarea {
	border: 0px solid black;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size:12px;
	font-size-adjust:inherit;
	align-content:flex-start;
	vertical-align:middle;	
	width:400px;
    vertical-align:middle;
	align-content:center;
	align-items:center;
	align:center;
}


/* .slideThree */
.slideThree {
  width: 80px;
  height: 26px;
  background: #333;
  margin: 10px auto;
  position: relative;
  border-radius: 50px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
}
.slideThree:after {
  content: 'OFF';
  color: #000;
  position: absolute;
  right: 10px;
  z-index: 0;
  font: 12px/26px Arial, sans-serif;
  font-weight: bold;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.15);
}
.slideThree:before {
  content: 'ON';
  color: #27ae60;
  position: absolute;
  left: 10px;
  z-index: 0;
  font: 12px/26px Arial, sans-serif;
  font-weight: bold;
}
.slideThree label {
  display: block;
  width: 34px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  top: 3px;
  left: 3px;
  z-index: 1;
  background: #fcfff4;
  background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  border-radius: 50px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
}
.slideThree input[type=checkbox] {
  visibility: hidden;
}
.slideThree input[type=checkbox]:checked + label {
  left: 43px;
}
.cantinas {
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size:1px;
	font-size-adjust:inherit;
}
.tderp {
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size:16px;
	color: #d45252; 
	font-size-adjust:inherit;
}
.tdblanc
{
    
}

.divsx
{
display:none;	
}
.dirx { 
padding: 8px; width: 200px; resize:none;
} 
/* end .slideThree */