
#btback
{
    /*position: absolute;*/
    left: 91px;
    top: 39px;
    width: 65px;
    height: 24px;
    background: rgb(223, 218, 218);
    border: none;
    -webkit-border-radius: 7px 7px 7px 0;
       -moz-border-radius: 7px 7px 7px 0;
            border-radius: 7px 7px 7px 0;
}
#btfront
{
    /*position: absolute;*/
    left: 92px;
    top: 37px;
    width: 65px;
    height: 24px;
    background: rgb(103, 152, 160);
    border: 0px solid rgb(156, 189, 225);
    -webkit-border-radius: 4.25px 4.25px 4.25px 0;
       -moz-border-radius: 4.25px 4.25px 4.25px 0;
            border-radius: 4.25px 4.25px 4.25px 0;
}
#text
{
    /*position: absolute;*/
    left: 98px;
    top: 43px;
    width: 56px;
    height: 13px;
    background: none;
    border: none;
    font-size: 16px;
    text-align: left;
    font-family: GillSans, "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    color: rgb(255, 255, 255);
}
