@charset "UTF-8";
/* CSS Document */

.tablez {
    /*border-collapse: collapse;*/
	vertical-align:central;
	border: 1px solid rgba(79, 85, 90, 0.94);
	width: 500px;
border: 1px solid #aaa; 
box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset; 
border-radius: 2px; 
padding-right: 30px; 
-moz-transition: padding .25s; 
-webkit-transition: padding .25s; 
-o-transition: padding .25s; 
transition: padding .25s; 
}

.tablesec {
    /*border-collapse: collapse;*/
	border: 0px solid black;
	margin-left: 10px;
	width:400px;
}
.tbbot {
	/*border-collapse: collapse;*/
	border: 0px solid black;
	width: 400px;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size: 12px;
	text-align: justify;
	vertical-align: top;
}
.thz {
    border: 1px solid black;
}

.tdrig {
	border: 0px solid black;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size:12px;
	font-size-adjust:inherit;
	align-content:flex-start;
	vertical-align:middle;	
	height: 25px;
	width:200px;
}

.tdchk {
	border: 0px solid black;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size:12px;
	font-size-adjust:inherit;
	align-content:flex-start;
	vertical-align:middle;	
	height: 25px;
	width:200px;
}

.tdarea {
	border: 0px solid black;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size:12px;
	font-size-adjust:inherit;
	margin-top: 10px;
	vertical-align:top;
	width:350px;
	height: 500px;
	align-content:center;
	align-items:center;
	
}

.cantinas {
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size:1px;
	font-size-adjust:inherit;
}
.tderp {
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size:16px;
	color: #d45252; 
	font-size-adjust:inherit;
	margin-left: 5px;
	text-align: center;
}
.tdblanc
{
 	height: 7px; 
	background: #ffffff;
}

.divsx
{
display:none;	
}
.dirx { 
padding: 8px; width: 200px; resize:none;
} 
.divscroll {
	text-align: left;
	border: 1px solid #aaa; 
	box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset; 
	border-radius: 2px; 
	padding-right: 30px; 
	-moz-transition: padding .25s; 
	-webkit-transition: padding .25s; 
	-o-transition: padding .25s; 
	transition: padding .25s; 
    width: 350px;
    height: 150px;
    overflow: scroll;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size:11px;
	font-size-adjust:inherit;
	padding: 5px;
}

.dvscrinfo {
	text-align: left;
	border: 1px solid #aaa; 
	box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset; 
	border-radius: 2px; 
	padding-right: 30px; 
	-moz-transition: padding .25s; 
	-webkit-transition: padding .25s; 
	-o-transition: padding .25s; 
	transition: padding .25s; 
    width: 380px;
    height: 290px;
    overflow: scroll;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size:11px;
	font-size-adjust:inherit;
	padding: 5px;
}
.dvscrinfotxta {
	text-align: left;
	border: 1px solid #aaa; 
	box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset; 
	border-radius: 2px; 
	padding-right: 1px; 
	-moz-transition: padding .25s; 
	-webkit-transition: padding .25s; 
	-o-transition: padding .25s; 
	transition: padding .25s; 
    width: 370px;
    height: 290px;
    overflow: scroll;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size:11px;
	font-size-adjust:inherit;
	padding: 5px;
}

.prevcss{
	position: absolute;
	z-index: 5;
	vertical-align:10%; 
    top: 200px;
	right: 30%;
	height: 400px;
	width: 400px; 
	border: 1px solid #B5C1D8; 
	box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset; 
	border-radius: 2px 2px 30px 30px; 
	-moz-transition: padding .25s; 
	-webkit-transition: padding .25s; 
	-o-transition: padding .25s; 
	transition: padding .25s; 
background: rgba(255,255,255,1);
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 49%, rgba(237,237,237,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(49%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 49%, rgba(237,237,237,1) 100%);
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 49%, rgba(237,237,237,1) 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 49%, rgba(237,237,237,1) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 49%, rgba(237,237,237,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
	
}
.titi {
background: rgba(255,255,255,1);
background: -moz-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 23%, rgba(106,106,143,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(23%, rgba(246,246,246,1)), color-stop(100%, rgba(106,106,143,1)));
background: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 23%, rgba(106,106,143,1) 100%);
background: -o-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 23%, rgba(106,106,143,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 23%, rgba(106,106,143,1) 100%);
background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 23%, rgba(106,106,143,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#6a6a8f', GradientType=1 );
}

.tititext{
	border: 0px solid black;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size:19px;
	color:#69A772;
	font-size-adjust:inherit;
	align-content:flex-start;
	vertical-align:middle;
	margin-top: 5px;
	margin-left: 10px;
	height: 35px;
	width:200px;	
}

.titi1 {
	border: 0px solid black;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size:16px;
	color: aliceblue;
	font-size-adjust:inherit;
	align-content:flex-start;
	vertical-align:middle;

background: rgba(255,255,255,1);
background: -moz-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
background: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
background: -o-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 );


}
.texd {
	border: 0px solid black;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size:11px;
	color:#595959;
	font-size-adjust:inherit;
	align-content:flex-start;
	vertical-align: top;

}
.noperm {
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    width: 200px;
    border-radius: 3px;
    overflow: hidden;
    background-color: #fff;
    background: #fff;
}

.tititextw{
	border: 0px solid black;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size:18px;
	color:#661e1e;
	font-size-adjust:inherit;
	align-content:flex-start;
	vertical-align:middle;
	margin-top: 5px;
	margin-left: 10px;	
}

.divvali{
	z-index:20;
	position:absolute;
	vertical-align:10%; 
	top: 200px;
	right: 30%;
	height: 400px;
	width: 400px; 
	border: 1px solid #B5C1D8; 
	box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset; 
	border-radius: 2px 2px 30px 30px; 
	-moz-transition: padding .25s; 
	-webkit-transition: padding .25s; 
	-o-transition: padding .25s; 
	transition: padding .25s; 
	background: rgba(255,255,255,1);
    background: -webkit-linear-gradient(rgba(255,255,255,1) 0%, rgba(246,246,246,1) 49%, rgba(237,237,237,1) 100%);
    background: -o-linear-gradient(rgba(255,255,255,1) 0%, rgba(246,246,246,1) 49%, rgba(237,237,237,1) 100%);
    background: linear-gradient(rgba(255,255,255,1) 0%, rgba(246,246,246,1) 49%, rgba(237,237,237,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
	
}
.divinfo{
	z-index:20;
	position:absolute;
	vertical-align:5%; 
	top: 100px;
	left: 30%;
	height: 400px;
	width: 400px; 
	border: 1px solid #B5C1D8; 
	box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset; 
	border-radius: 2px 2px 30px 30px; 
	-moz-transition: padding .25s; 
	-webkit-transition: padding .25s; 
	-o-transition: padding .25s; 
	transition: padding .25s; 
	background: rgba(255,255,255,1);
    background: -webkit-linear-gradient(rgba(255,255,255,1) 0%, rgba(246,246,246,1) 49%, rgba(237,237,237,1) 100%);
    background: -o-linear-gradient(rgba(255,255,255,1) 0%, rgba(246,246,246,1) 49%, rgba(237,237,237,1) 100%);
    background: linear-gradient(rgba(255,255,255,1) 0%, rgba(246,246,246,1) 49%, rgba(237,237,237,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
	
}

.divenv{
	position:absolute;
	top: 50%;
	height: 400px;
	width: 400px; 
}

 /* The switch - the box around the slider */
.switch {
  position:relative;
  display: inline-block;
  width: 44px;
  height: 22px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(21px);
  -ms-transform: translateX(21px);
  transform: translateX(21px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
} 
/**/
.stype {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
    background-color: white;
    background-image: url('bus.png');
    background-position: 1px 1px; 
    background-repeat: no-repeat;
    padding: 6px 20px 6px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
.stype:focus {
    width: 40%;
}


/* Control select*/
.select-style {
    border: 1px solid #ccc;
    width: 140px;
    border-radius: 3px;
    overflow: hidden;
	background: white url("arrowdown.gif") no-repeat 90% 50%;

}

.select-style select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.select-style select:focus {
    outline: none;
}
.tablp {
/*border-collapse: collapse;*/
vertical-align:central;
height: 15px;
border: 2px solid rgba(79, 85, 90, 0.94);
border-radius: 4px; 
font-size:14px;
font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}
.tdtab {
/*border-collapse: collapse;*/
vertical-align:central;
height: 15px;
text-align: center;
border: 1px solid #ccc;
border-radius: 4px; 
font-size:15px;
font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}
.tdtitus {
/*border-collapse: collapse;*/
vertical-align:central;
background: #C6E1FF;
height: 15px;
text-align: center;
border: 1px solid #ccc;
border-radius: 4px; 
font-size:15px;
font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}

.tdtival {
vertical-align: middle;
background: #C6E1FF;
height: 15px;
text-align:left;
border: 1px solid #ccc;
border-radius: 4px; 
font-size:15px;
font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}
.tdtivalx {
vertical-align: middle;
height: 30px;
text-align:left;
border: 1px solid #ccc;
border-radius: 4px; 
font-size:15px;
font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}

.tdtivals {
background: #1188ff;
height: 15px;
text-align: left;
border: 1px solid #ccc;
border-radius: 4px;
font-size: 15px;
font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
font-size: 15px;
color: white;
text-align: center;
}

.tdcont {
/*border-collapse: collapse;*/
vertical-align:central;
height: 15px;
border: 1px solid #ccc;
border-radius: 4px; 
font-size:12px;
font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}
.tdtexter {
	border: 0px solid #3B91F1;
	padding: 0px;
	background: #72B9F7 ;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size:16px;
	color: white;
	font-size-adjust:inherit;
	align-content:flex-start;
	vertical-align:middle;	
	height: 25px;
	border-collapse:inherit;
	border-spacing: 0px 0px;
}

.tdvalte {
	border: 0px solid #3B91F1;
	padding: 0px;
	background: #72B9F7 ;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size:16px;
	color: white;
	font-size-adjust:inherit;
	align-content:center;
	vertical-align:middle;	
	height: 25px;
	border-collapse:inherit;
	border-spacing: 0px 0px;
}

.tdtextlc {
	border: 0px solid black;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size:16px;
	font-size-adjust:inherit;
	align-content:flex-start;
	vertical-align:middle;	
	height: 25px;
}
.tdcontbm {
/*border-collapse: collapse;*/
vertical-align:central;
height: 25px;
border: 1px solid #ccc;
border-radius: 4px; 
width: 25px;
}

/****************************************************************** Botones de accion */
.cokb{
    background:url('cok.png') no-repeat;
    cursor:pointer;
    border:none;
	vertical-align:middle;
	align-content: center;
    width:24px;
    height:25px;
}

.cokb:active  /* use Dot here */
{   
    background:url('cokpush.png') no-repeat;
}

.cifkb{
    background:url('cinf.png') no-repeat;
    cursor:pointer;
    border:none;
	vertical-align:middle;
	align-content: center;
    width:24px;
    height:25px;
}

.cifkb:active  /* use Dot here */
{   
    background:url('cinfpush.png') no-repeat;
}
.ctarb{
    background:url('ctar.png') no-repeat;
    cursor:pointer;
    border:none;
	vertical-align:middle;
	align-content: center;
    width:24px;
    height:25px;
}

.ctarb:active  /* use Dot here */
{   
    background:url('ctarpush.png') no-repeat;
}

.addb{
    background:url('add.png') no-repeat;
    cursor:pointer;
    border:none;
	vertical-align:middle;
	align-content: center;
    width:24px;
    height:25px;
}

.addb:active  /* use Dot here */
{   
    background:url('addpush.png') no-repeat;
}
.glbb{
    background:url('glob.png') no-repeat;
    cursor:pointer;
    border:none;
	vertical-align:middle;
	align-content: center;
    width:24px;
    height:25px;
}

.glbb:active  /* use Dot here */
{   
    background:url('globpush.png') no-repeat;
}


.timb{
    background:url('tix.png') no-repeat;
    cursor:pointer;
    border:none;
	vertical-align:middle;
	align-content: center;
    width:24px;
    height:25px;
}

.timb:active  /* use Dot here */
{   
    background:url('timepush.png') no-repeat;
}

.cixb{
    background:url('cx.png') no-repeat;
    cursor:pointer;
    border:none;
	vertical-align:middle;
	align-content: center;
    width:24px;
    height:25px;
}

.cixb:active  /* use Dot here */
{   
    background:url('cxpush.png') no-repeat;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 0px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color:#1C67FF;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color:#1C67FF transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #3B91F1;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 14px;
  padding: 10px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
.texto {
    width: 80%;
	height: 22px;
    padding: 2px 1px;
    margin: 2px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px; 
    background-color: #3B91F1;
    color: white;
	font-size: 15px;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;

}
